.heading
{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow:5px 5px 5px grey;
    
}


.note
{
    font-size: 15px;
    color: black;
}

.footer{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: fixed;
    color:white;
    bottom: 0;
    width: 100%;
    background-color: grey;
    text-align: center;
    line-height: 3;
}

canvas{
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
    
}